form {
  font-weight: bold;
  font-style: normal;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color:87,204,153;
  color:black;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color:56,163,165;
}

h2 {
  color: 34,87,122;
  text-align: left;
}

nav {
  float: right;
}