*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  body{
    color: #fff;
  }
  .container-1{
    background: #231F20;
    padding-bottom: 100px;
  }
  
  .row{
    display: flex;
  }
  
  .col-2{
    flex-basis: 50%;
    min-width: 300px;
    display: inline-block;
    align-items: center;
    justify-content: center;
  }
  .col-2 img{
    border: none;
    border-radius: 100px;
    margin-top: 50px;
    margin-left: 100px;
    width: 400px;
  }
  
  .header{
    margin: 0 30px;
    height: 100%;
  }
  
  .navbar{
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  
  
  .header a{
    text-decoration: none;
    color: #fff;
  }
  .header nav a:hover{
    color: #20c503;
  }
  
  .header .col-1{
    margin-top: 8%;
  }
  
  .col-1{
    flex-basis: 50%;
    min-width: 300px;
    margin-left: 100px;
  }
  .col-1 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }
  .col-1 img{
    width: 200px;
  }
  
  p{
    color: #fff;
  }
  .btn-start{
    display: inline-block;
    background: #20c503;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
  }
  .btn-start:hover{
    background: transparent;
    border: 2px solid #20c503;
  }
  
  /* main body */
  
  .main-page{
   height: 90vh;
   background: black;
  }
  
  .big-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    padding: 80px;
    height: 15%;
  }
  .wrapper1{
    padding: 1rem;
    width: 23vw;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .wrapper1 label{
    padding-left: 20px;
  }
  .wrapper2{
    padding: 1rem;
    width: 23vw;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .wrapper2 label{
    padding-left: 20px;
  }
  
  .border-box-container{
    background: linear-gradient(to left, #17ABEB, #48DE97);
    padding: 3px;
    margin-left: 5px;
    margin-top: 30px;
    border-radius: 20px;
  }
  .border-box{
    max-width: 50vw;
    background: black;
    padding: 10px;
    border-radius: 20px;
  }
  .Table .title h3{
    margin-left: 17vw;
  }
  .Table {
    background: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 1.5rem auto;
    border-radius: 10px; 
    padding: 20px;
    width: 50vw;
    height: 50%;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin-top: 20px; 
  }
  .inputs {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="time"] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #48DE97;
  color: #fff; 
  padding: 5px;
  margin:5px 20px; 
  width: 18vw;
  }
  /* clock work */
  
  input [type="time"] {
  font-family: Arial, Helvetica, sans-serif;
  width: 160px;
  }
  [type="time"]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    color: #fff;
  }
  [type="time"]::-webkit-inner-spin-button {
  display: none;
  }
  [type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  }
  
  .btn{
    display: inline-block;
    background: #20c503;
    color: #fff;
    padding: 8px 40px;
    margin: 30px;
    margin-left: 46vw;
    border-radius: 30px;
    transition: background 0.5s;
  }
  .btn:hover{
    background: transparent;
    border: 2px solid #20c503;
  }
  .btn input{
    background: 0;
    color: #fff;
    border: 0;
    font-size: 16px;
  }
  
  footer{
    background: #20c503;
    color: #231F20;
    font-size: 14px;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  footer ul{
    list-style-type: none;
  }
  