<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/home.css">
  <title>Home Page</title>
</head>
<body>
  <header>
    <h2>Logo</h2>
  </header>

  <div>
    <label for="phone">Phone Number:</label>
    <input type="tel" id="phone" name="phone" pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}" placeholder="1234-567-890" required>
  </div>

  <div>
    <label for="cash">Enter amount:</label>
    <input type="number" name="amount" id="amount">
  </div>

  <div class="Table">
    <p>Enter Budget plan</p>
  <label for="budget">Amount:</label>
  <input type="text" name="Amount" id="amount">
  <label for="clock">Time:</label>
  <input type="time" name="Time" id="time">

  <label for="budget">Amount:</label>
  <input type="text" name="Amount" id="amount">
  <label for="clock">Time:</label>
  <input type="time" name="Time" id="time">

  <label for="budget">Amount:</label>
  <input type="text" name="Amount" id="amount">
  <label for="clock">Time:</label>
  <input type="time" name="Time" id="time">

  <label for="budget">Amount:</label>
  <input type="text" name="Amount" id="amount">
  <label for="clock">Time:</label>
  <input type="time" name="Time" id="time">

  <label for="budget">Amount:</label>
  <input type="text" name="Amount" id="amount">
  <label for="clock">Time:</label>
  <input type="time" name="Time" id="time">
  </div>
  
  
  <input type="button" value="submit">
  <script src="/static/js/home.js"></script>
</body>
</html>
