<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/login.css">
  <title>Sign In</title>
  
</head>
<body>
<div class="container">
  <h2>Log In</h2>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text"  id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password"  id="password" name="password" required>
    </div>
    <input type="button" value="Sign In" id="sign in button">
  </form>
</div>
    <script src="/static/js/login.js"> </script>
</body>
</html>
