<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta  charset="UTF-8" />
        <meta name = "viewport" content = "width=device-width,initial-scale=1.0"> 
        <title>Sign up </title>
        <link rel="stylesheet" href="/static/css/signup.css">
    </head>

    <header>
        <nav>help</nav>
    </header>
    <h2>Sign up</h2>
    <body>
        
     <div>
        <form id="form" >
    
         <label for="Email address">Email address</label>
         <input type="email" id="Email address"><br>

         <label for="Password">Password</label>
         <input type="password" id="Password"> <br>

         <label for="confirm password">confirm password</label>
         <input type="password" id="confirm passowrd">  
         
         <button type="submit" id ="submitbutton">submit</button>


        </form>
    </div>
         <script src="/static/js/signup.js"> </script>
        
    </body>
  
</html>