<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta  charset="UTF-8" />
        <meta name = "viewport" content = "width=device-width,initial-scale=1.0"> 
        <title>Sign up </title>
        <link rel="stylesheet" href="/static/css/signup.css"
        
    </head>
    
    <body>
        <h2>Sign up<h2>
     <div>
        <form id="form" action="" method="post">
    
         <label for="email address">email address:</label>
         <input type="email" id="email address"><br>

         <label for="Password">Password:</label>
         <input type="password" id="Password"> <br>
         
         <button type="submit">submit</button>


        </form>
    </div>
         <script src="/static/js/signup.js"> </script>
        
    </body>
  
</html>